body{
    background: url('../img/main.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.wrap{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
	top: 120px;
    z-index: 99;
}

p.form-title{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;

}

form{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: #002;
    border-color: #ababab;

}

form.login input[type="submit"]:active{
	background-color: #03032c;
}

form.login input:-webkit-autofill,
form.login input:-webkit-autofill:hover, 
form.login input:-webkit-autofill:focus
form.login input:-webkit-autofill, 
form.login textarea:-webkit-autofill,
form.login textarea:-webkit-autofill:hover
form.login textarea:-webkit-autofill:focus,
form.login select:-webkit-autofill,
form.login select:-webkit-autofill:hover,
form.login select:-webkit-autofill:focus {
   transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
    
   
}
#message{
    color: white;
}

