body{
    background: url('../img/wallpaper_user.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.profile{
    margin: 20px 0;
}

.profil-sidebar{
    padding: 20px 0 10px;
    background:rgba(255,255,255, 0.6);
}

.profil-user-pic{
    padding-left: 45px;
}

.profil-user-pic img{
    float: none;
    margin: 0 auto;
    width: 170px;
}
.profile-user-titlr{
    text-align: center;
    margin-top: 20px;
}

.profile-user-name{
    color: #5a73a1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-user-job{
    text-transform: uppercase;
    color: #5babd1;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-user-buttons{
    text-align: center;
    margin-top: 10px;
}

.btn{
    text-transform: uppercase;
    font-size: 11px;
    font-weight:600;
    padding: 6px 15px;
    margin-right: 5px;
}

.dole{
    margin-bottom: 5px;
}

.u-btn{
    background-color: rgba(0,0,0,0.1);
}

.u-btn a:hover{
    text-decoration: none;
    color: black;
}

.r-btn{
    background-color: rgba(0,0,0,0.1);
    
}

p.btn.btn-sm.r-btn a {
    color: #ed2a2a;
}

.r-btn a:hover{
    text-decoration: none;
    color: #872020;
}

.profile-use-menu{
    margin-top: 30px;
}

ul li{
    border-bottom: 2px solid #f0f4f7 !important;
}

.profile-use-menu ul li {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-use-menu ul li  i{
    margin-right: 8px;
    font-size: 16px;
}

.profile-use-menu ul li:hover{
    background-color: #fafcfd;
    color: #5babdl;
}

li.active{
    color: #5babdl;
    background-color: #f6fafb;
    border-left: 2px solid #5babdl;
    margin-left: -3px;
}

li{
    border-bottom: 1px solid #f0f4f7;
}

.profil-content{
    padding: 20px;
    background:rgba(255,255,255, 0.6);
    min-height: 460px;
}

.sacuvaj {
    color: #337abf;
}

.sacuvaj:hover{
    color: #23527c;
    text-decoration: none;
}